lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

node_modules
dist
.tmp
.sass-cache
dashboard/app/components
app/styles/**/*.css
test-results.xml
.DS_Store
docs/*